@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-blue-light h-full w-full m-0 p-0;
  }

  ul {
    @apply list-none;
  }

  header {
    @apply w-full h-16 flex flex-row  mb-8 bg-blue-dark text-blue-darkest text-4xl font-semibold;
  }

  input {
    @apply text-2xl;
  }

  input:focus {
    @apply outline-none;
  }
}

@layer components {
  #root {
    @apply h-full bg-blue-light overflow-y-scroll w-full;
  }

  .container {
    @apply m-auto px-5 max-w-2xl flex flex-col;
  }

  .card {
    @apply rounded-2xl py-10 px-14 my-5 relative bg-orange-lightest border-2 border-blue-darkest;
  }

  .card h2 {
    @apply text-xl font-semibold text-center text-blue-darkest;
  }

  .rating {
    @apply flex items-center justify-around mt-5;
  }

  .rating li,
  .num-display {
    @apply relative w-12 h-12 p-2.5 text-center rounded-3xl text-lg bg-orange-light text-orange-lightest;
  }

  .rating li label {
    @apply absolute top-1/2 left-1/2 w-12 h-12 pt-2.5 rounded-full cursor-pointer -translate-x-1/2 -translate-y-1/2;
  }

  .raint li:hover,
  .num-display {
    @apply bg-red-light text-orange-lightest;
  }

  [type='radio'] {
    @apply opacity-0;
  }

  [type='radio']:checked ~ label {
    @apply bg-red-light text-orange-lightest;
  }

  .input-group {
    @apply flex flex-row border-2 border-blue-darkest rounded-xl mt-5 text-blue-darkest pl-2 bg-white;
  }

  .feedback-stats {
    @apply flex justify-between items-center text-blue-darkest;
  }

  .num-display {
    @apply absolute top-0 left-0 mt-2 ml-2;
  }

  .close,
  .edit {
    @apply absolute top-2 right-4 cursor-pointer;
  }

  .edit {
    @apply right-10;
  }

  .btn {
    @apply cursor-pointer rounded-lg h-3 w-24 text-orange-lightest border-2 bg-orange-darkest;
  }

  .btn-primary {
    @apply bg-orange-darkest;
  }

  .btn-secondary {
    @apply bg-orange-darkest;
  }

  .btn:hover {
    @apply hover:opacity-90;
  }

  .btn:disabled {
    @apply bg-orange-lightest text-white cursor-auto;
  }

  .message {
    @apply pt-1 text-blue-darkest text-center;
  }

  .about-link {
    @apply cursor-pointer text-red-dark max-w-2xl m-auto pb-5;
  }

  .about-link a:hover {
    @apply text-orange-lightest;
  }

  .about h1 {
    @apply mb-1.5;
  }

  .about p {
    @apply m-1;
  }
}

input {
  flex-grow: 2;
}

@media (max-width: 600px) {
  .rating li {
    margin: 10px 3px;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 40px;
  }

  .input-group input {
    width: 80%;
  }
}

@tailwind utilities;
